<body>
  <div class="container">
    <br>

      <form>
        <div class="form-group">
          <input type="text" id="typeSmth" placeholder="Что вы искали?" class="form-control"> <br>
          <img src="https://images.all-free-download.com/images/graphiclarge/mouse_click_on_the_icon_vector_280955.jpg" id="logo" class="rounded-circle" alt="Logo">
        </div>
      </form>

   
        <button type="button" id="sportbtn" class="btn btn-warning"> <a id="textofa" routerLink="/sport" style="text-decoration:none" >Sport & Health</a> </button>
        <button type="button" id="electronicstbtn" class="btn btn-warning"> <a id="textofa" routerLink="/electronics" style="text-decoration:none" >Electronics</a> </button>
        <button type="button" id="clothesbtn" class="btn btn-warning"> <a id="textofa" routerLink="#" style="text-decoration:none" >Clothes for Women</a> </button>
        <button type="button" id="jewelerybtn" class="btn btn-warning"> <a id="textofa" routerLink="#" style="text-decoration:none" >jewelery & Stuff</a> </button>


     


     
  </div>
</body>

