 
 body{
    background-image:url(2.jpg); 
    width: 100%;
    height: 100%;
}

.header{
    margin-top: 0px;
}
.diamond{
    width: 550px;
    border-radius: 5px;
    height: 35px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 5px;
   padding: 5px;     
} 
.img-{
    margin-left: 5px;
    margin-top: 40px;
}
.click{
    margin-top: 20px;
    margin-left: 200px;
}
.word-click{
    font-size: 40px;
    color: brown;
    margin-top: 40px;
    font-family: sans-serif;
    font-weight: bold;
}
.man{
    margin-top:10px;
   margin-left: 1300px;
}
.login{
    background-color: #F7DC6F;
    width:100px;
    height: 40px;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.signin{
   background-color: #F7DC6F;
   width:100px;
   height: 40px;
   border-radius: 5px;
   margin-top: 50px;
   font-size: 20px;
   color: black;
   font-weight: bold;
}

.goods{
    margin-top: 50px;
    margin-left: 200px;
}
.types{
    height: 100px;
    width: 100px;
    padding: 40px;
    margin-left: 20px;
}
.typess{
    border-radius: 12px;
    background-color: #F7DC6F;
    color: black;
    margin-left: 40px;
    margin-top: 20px;
    height: 70px;
    width: 250px;
    font-size: 25px;
    font-weight: bold;
}